[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
bind-address    = 0.0.0.0


#bin/mysqld --initialize-insecure --user=mysql

#bin/mysqld --defaults-file=/etc/mysql/my.cnf
 # --initialize-insecure  --user=mysql